/* COLORS */
:root {
  --primary-green: #495E57;
  --primary-yellow: #F4CE14;
  --secondary-orange: #EE9972;
  --secondary-offwhite: #FBDABB;
  --secondary-lightgray: #EDEFEE;
  --secondary-gray: #333333;
}

/* FONTS */
.display-title {
  font-family: 'Markazi';
  font-size:64;
  font-weight:500;
}

.sub-title {
  font-family: 'Markazi';
  font-size:40;
  font-weight:400;
}

.lead-text {
  font-family: 'Karla';
  font-size: 18;
  font-weight:500;
  color: var(--primary-green);
}

.section-title {
  font-family: 'Karla';
  font-size: 20;
  font-weight: 800;
  text-transform: uppercase;
}

.section-categories {
  font-family: 'Karla';
  font-size: 16;
  font-weight: 800;
  text-transform: capitalize;
}

.card-title {
  font-family: 'Karla';
  font-size: 18;
  font-weight:700;
  text-transform: capitalize;
}

.paragraph-text {
  font-family: 'Karla';
  font-size: 16;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary-green);
}

.highlight-text {
  font-family: 'Karla';
  font-size: 16;
  font-weight: 500;
  color: var(--primary-green);
}



/* STYLE */
#root {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 0;
}



header ul {
  display: flex;
  gap: 1rem;
}

header li {
  display: inline;
  text-decoration: none;
}



footer {
  background-color: var(--secondary-lightgray);
}

footer h4 {
  font-family: 'Karla';
  size: 18;
  font-weight: 800;
  color: var(--primary-green); 
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer li {
  font-family: 'Karla';
  size: 18;
}

li a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.call-to-action {
  background-color: var(--primary-green);
  padding-top: 1.5rem;
}

.btn-primary {
  background-color: var(--primary-yellow);
  border-radius: 8px;
  border: none;
  padding: 0.5rem 1rem;
}


.recipe-card {
  background-color: var(--secondary-lightgray);
  width: 250px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}

.review-card {
  flex: 1;
  background-color: white;
  padding: 1rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}